
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.main_div{
  margin-top: 10vh;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  background-color: #045484;
}

.carouselHome {
  width: calc(80vh * 1.406);
  height: 80vh;
}

.carousel_item{

}
.carousel_img{
  height: 80vh;
} 

.carousel.carousel-slider .control-arrow {
  background-color: rgb(255, 255, 255);
  opacity: 50;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 1%;
  vertical-align: middle;
}

.carouselHome .carousel .control-prev.control-arrow:before {
  border-right-color: rgb(165, 165, 165);
}

.carouselHome .carousel .control-next.control-arrow:before {
  border-left-color: rgb(165, 165, 165);
}

